@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("beach.jpg");
  background-size: 1920px;
  color: rgb(0, 0, 0);
  font-family: "Lucida Handwriting";
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;
}

h1 {
  margin: 2rem;
}

h2 {
  padding: 1rem;
}

.board {
  border: 1rem solid #ffffff;
  background: #ffffff;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  margin: 0rem 10rem;
  gap: 1rem;
}

.squares {
  background: #477183d2;
  border: none;
  font-size: 5rem;
}

.X {
  color: rgb(255, 223, 119);
  font-size: 5rem;
  font-family: "Papyrus";
}
.O {
  color: rgb(38, 230, 230);
  font-size: 5rem;
  font-family: "Papyrus";
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.info-wrapper h2 {
  color: rgb(0, 0, 0);
  padding: 0rem;
  margin: 2rem 11rem;
}

.info-wrapper button {
  background: #000000;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  margin: 1.5rem -21rem;
}

li {
  list-style: none;
}

